<!-- <h3>Address</h3>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <app-side-nav [fromAddress] = 'true' [fromBusiness] = 'false'></app-side-nav>
        </div>
        <div class="col-md-8">
            <div class="customDiv">
                Main pane
            </div>
        </div>
    </div>
</div> -->

<div class = 'container'> 
    <div class="row">
        <div class = "col">
            <span class="border-0">Search Address</span>
        </div>        
    </div>
    <div class="row">
        <div class="col">
            <span class="border-0">GPS X:</span>
          </div>
          <div class="col">
            <input type="text">
          </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="border-0">GPS X:</span>
          </div>
          <div class="col">
            <input type="text">
          </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="border-0">GPS X:</span>
          </div>
          <div class="col">
            <input type="text">
          </div>
    </div>
    <table class="shadow-lg p-3 mb-5 bg-white rounded">
        <th>
        <h3>Search Address</h3>
        </th>
        <tr>
            <td>
                <span class="border-0">GPS X:</span>
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>
                <span class="border-0">GPS Y:</span>
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>
                <span class="border-0">GPS Z:</span>
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td></td>
            <td><button type="button" class="btn btn-secondary">Submit</button></td>
        </tr>

    </table>
</div>