<!-- <h3>Address</h3>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <app-side-nav [fromAddress] = 'true' [fromBusiness] = 'false'></app-side-nav>
        </div>
        <div class="col-md-8">
            <div class="customDiv">
                Main pane
            </div>
        </div>
    </div>
</div> -->

<div class='container-fluid'>
    <div class="row space">
        <span class="border-0">
            <h3>Search Address</h3>
        </span>
    </div>
    <div class="row space">
        <div class="col-md-2">
            <span class="border-0">Address Id:</span>
        </div>
        <div class="col-md-3">
            <input type="text">
        </div>
        <div class="col-md-2">
            <span class="border-0">Address Type:</span>
        </div>
        <div class="col-md-3">
            <select id="addressType" name="addressType" class="fixWidth">
                <option>Select</option>
                <option value="o">Office</option>
                <option value="h">Home</option>
                <option value="p">Permenant</option>
                <option value="c">Communication</option>
              </select>
        </div>
    </div>
    <div class="row space">
        <div class="col-md-2">
            <span class="border-0">Street Name:</span>
        </div>
        <div class="col-md-3">
            <input type="text">
        </div>
        <div class="col-md-2">
            <span class="border-0">Street Number:</span>
        </div>
        <div class="col-md-3">
            <input type="text">
        </div>
    </div>
    <div class="row space">
        <div class="col-md-2">
            <span class="border-0">Village Name:</span>
        </div>
        <div class="col-md-3">
            <input type="text">
        </div>
        <div class="col-md-2">
            <span class="border-0">Farm Name:</span>
        </div>
        <div class="col-md-3">
            <input type="text">
        </div>
    </div>
    <div class="row space">
        <div class="col-md-2">
            <span class="border-0">City:</span>
        </div>
        <div class="col-md-3">
            <input type="text">
        </div>
        <div class="col-md-2">
            <span class="border-0">Country:</span>
        </div>
        <div class="col-md-3">
            <input type="text">
        </div>
    </div>
    <div class="row space">
        <div class="col-md-2">
            <span class="border-0">Postal Code:</span>
        </div>
        <div class="col-md-2">
            <input type="text">
        </div>
    </div>
    <div class="row space">
        <div class="col-md-2">
            <span class="border-0">GPS X:</span>
        </div>
        <div class="col-md-3">
            <input type="text">
        </div>
        <div class="col-md-2">
            <span class="border-0">GPS Y:</span>
        </div>
        <div class="col-md-3">
            <input type="text">
        </div>
    </div>
    <div class="row space">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" (click) = "onSearch()">Search</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" (click) = "onClear()">Clear</button>
        </div>

    </div>

<div *ngIf = "showResults" class="row space">
    <app-search-address-results></app-search-address-results>
</div>

</div>