<div class = 'container'> 
    <table>
        <th>
        <h3>Create Business Location</h3>
        </th>
        <tr>
            <td>
                GPS X:
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>
                GPS Y:
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>
                GPS Z:
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td></td>
            <td><button type="button" class="btn btn-secondary">Submit</button></td>
        </tr>
    </table>
</div>