<div class='container-fluid'>
  <div class="row space">
    <span class="border-0">
      <h3>Search Business Location</h3>
    </span>
  </div>
  <div class="row space">
    <div class="col-md-2">
      <span class="border-0">Business location ID:</span>
    </div>
    <div class="col-md-3">
      <input type="text">
    </div>
    <div class="col-md-2">
      <span class="border-0">Business location name:</span>
    </div>
    <div class="col-md-3">
      <input type="text">
    </div>
  </div>
  <div class="row space">
    <div class="col-md-2">
      <span class="border-0">Street Name:</span>
    </div>
    <div class="col-md-3">
      <input type="text">
    </div>
    <div class="col-md-2">
      <span class="border-0">Street Number:</span>
    </div>
    <div class="col-md-3">
      <input type="text">
    </div>
  </div>  
  <div class="row space">
    <div class="col-md-2">
      <span class="border-0">City:</span>
    </div>
    <div class="col-md-3">
      <input type="text">
    </div>
    <div class="col-md-2">
      <span class="border-0">Country:</span>
    </div>
    <div class="col-md-3">
      <input type="text">
    </div>
  </div>
  <div class="row space">
    <div class="col-md-2">
      <span class="border-0">Location Name:</span>
    </div>
    <div class="col-md-3">
      <input type="text">
    </div>
    <div class="col-md-2">
      <span class="border-0">Postal Code:</span>
    </div>
    <div class="col-md-3">
      <input type="text">
    </div>
  </div>
  <div class="row space">
    <div class="col-md-2">
      <span class="border-0">Responsible party:</span>
    </div>
    <div class="col-md-3">
      <input type="text">
    </div>
    <div class="col-md-2">
      <span class="border-0">User friendly ID:</span>
    </div>
    <div class="col-md-3">
      <input type="text">
    </div>
  </div>
  <div class="row space">
    <div class="col-md-2">
      <span class="border-0">Process:</span>
    </div>
    <div class="col-md-3">
      <input type="text">
    </div>
    <div class="col-md-2">
      <span class="border-0">Business location type:</span>
    </div>
    <div class="col-md-3">
      <input type="text">
    </div>
  </div>
  <div class="row space">
    <div class="col-md-2">
      <span class="border-0">Life Cycle:</span>
    </div>
    <div class="col-md-3">
      <input type="text">
    </div>
    <div class="col-md-2">
      <span class="border-0">Attribute type:</span>
    </div>
    <div class="col-md-3">
      <input type="text">
    </div>
  </div>
  <div class="row space">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary">Search</button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary">Clear</button>
    </div>
  </div>
</div>