<!-- <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
</div> -->

<p>
    <a class="btn btn-link" data-toggle="collapse" href="#menuList" >
        <span class="glyphicon glyphicon-th-list"></span>+
    </a>
</p>
<div class="collapse" id="menuList">

    <div class="row">
        <div class="col-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
          </div>
        </div>
    <!-- <div *ngIf = "fromAddress; then address else businessLocation"></div>
    <ng-template #address>
    <ul>
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</ng-template>
<ng-template #businessLocation>
    <ul>
        <li><a class="dropdown-item" href="#">BAction</a></li>
        <li><a class="dropdown-item" href="#">BAnother action</a></li>
        <li><a class="dropdown-item" href="#">BSomething else here</a></li>
    </ul>
</ng-template> -->
</div>
