<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs">
                <li class="nav-item active">
                  <a class="nav-link active" data-toggle = "tab" href="#addressTab" >Address</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle = "tab" href="#businessLocationTab">Buisniess Location</a>
                </li>
              </ul>
        </div>
    </div>
    <div class="tab-content active">
        <div id = "addressTab" class="tab-pane active">
            <app-address></app-address>
        </div>
        <div id="businessLocationTab" class="tab-pane">
            <app-business-location></app-business-location>
        </div>
    </div>
</div>
