/* You can add global styles to this file, and also import other style files */
.customDiv {
    margin: 3px;
min-height: 300px;
background-color: silver;
text-align: center;
font-size: large;
}

.layout {
    background-image: url("../src/assets/images/postnordBackGround.jpg");
}

.space {
    margin: 10px;
}

.vl {
    border-left: 1px solid blue;
    height: 100%;
    position: absolute;
    left: 25%;
    margin-left: -3px;
    top: 0;
  }

  .fixWidth {
      width: 183px;
  }

  table, th, td {
    border: 1px solid blue;
    border-collapse: collapse;
  }